/* Main Author: hoangthuhang */
/* Scoped CSS cho Layout chính */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Đảm bảo màu chủ đạo xanh dương #007bff cho các thành phần */
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

